@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400|Open+Sans:400,600&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
a {
	text-decoration: none;
	color: #4d4d4d;
}

/*--------------------      NAV      --------------------*/

#navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#navigation li {
	display: inline;
	margin: 28px;
}
h1 {
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
}
#navigation a:hover {
	border-bottom: 1px solid #4d4d4d;
}

/*--------------------      HEADER      --------------------*/

#start {
	text-align: center;
	background: url("../image/Layer%2011.png") no-repeat center /cover;
	height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h2 {
	font-family: Satellite;
	font-size: 35pt;
	font-weight: 100;
	margin-bottom: 30px;
}
#start p {
	color: #4d4d4d; 
	margin: 0;
}
#start a {
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	padding: 10px 80px;
	border-radius: 40px;
	background-color: #4d4d4d;
	margin-top: 40px;
	font-size: 16px;
	transition: 0.3s;
}
#start a:hover {
	background-color: #727272;
	font-weight: 600;
}

/*--------------------      SERVICES      --------------------*/

#services {
	display: flex;
	justify-content: space-between;
}
.item {
	max-width: 330px;
	text-align: center;
	margin-top: 100px;
}
h4 {
	color: #4d4d4d; 
	text-transform: uppercase;
}
p {
	color: #727272;
}

/*--------------------      VIDEO      --------------------*/

#video {
	margin-top: 180px;
	text-align: center;
}
h3 {
	text-transform: uppercase;
	color: #4d4d4d; 
	font-size: 26px;
	letter-spacing: 3px;
}
#video p {
	max-width: 570px;
	margin: 16px auto;
	margin-bottom: 60px;
}
